[Desktop Entry]
Name=dark-theme
Comment=aaaaa
Exec=/home/dreaming/.local/share/applications/rice/dark.sh
Icon=text-scriptlet
Terminal=true
Type=Application  
