[Desktop Entry]
Name=Kripton-theme
Comment=aaaaa
Exec=/home/dreaming/.local/share/applications/rice/Kripton.sh
Icon=text-scriptlet
Terminal=false
Type=Application  