[Desktop Entry]
Name=mint-theme
Comment=aaaaa
Exec=/home/dreaming/.local/share/applications/rice/mint.sh
Icon=text-scriptlet
Terminal=false
Type=Application  