[Desktop Entry]
Name=Nordic-polar-theme
Comment=aaaaa
Exec=/home/dreaming/.local/share/applications/rice/Nordic-polar.sh
Icon=text-scriptlet
Terminal=false
Type=Application  