[Desktop Entry]
Name=The-best
Comment=aaaaa
Exec=/home/dreaming/.local/share/applications/rice/Win95.sh
Icon=text-scriptlet
Terminal=false
Type=Application  